h1 {
    font-weight: 800;
    font-size: xx-large;
}

h2 {
    font-weight: 600;
    font-size: medium;
}

p {
    font-weight: 200;
}

.imagen {
    max-width: 500px;
    max-height: 500px;
    height: auto;
    width: auto;
}

.purple-button {
    background-color: darkorchid;
    padding: 10px 10px 10px 10px;
}